@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");
:root {
  --text-color: rgb(13, 13, 13);
  --wrapper-background: rgb(245, 245, 245);
  --accent-color: rgb(225, 255, 0);
  --accent-color-secondary: rgb(185, 65, 145);
  --lightest-gray: rgb(244, 244, 244);
  --light-gray: rgb(232, 232, 232);
  --medium-gray: rgb(96, 96, 96);
  --dark-gray: rgb(13, 13, 13);
  --header-height: 3.2rem;
  --header-background: rgb(232, 232, 232);
  --brand-name: rgb(29, 66, 95);
  --brand-name-hover: linear-gradient(
    331deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  --brand-icon: 5rem;
  --sidebar-background: rgb(58, 79, 148);
  --sidebar-dropdown-background: rgb(36, 73, 116);
  --sidebar-width-open: 15rem;
  --sidebar-icon: 1.8rem;
  --sidebar-width: 3.8rem;
  --sidebar-icon-color: rgb(185, 65, 145);
  --settings-background: rgb(32, 74, 138);
  --settings-width: 14rem;
  --animation-duration: 0.3s;
  --animation-timing-curve: ease-in-out;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body.theme-dark {
  --text-color: rgb(255, 255, 255);
  --wrapper-background: #1e1e1e;
  --header-background: rgb(255, 255, 255);
  --sidebar-background: #2e2e2e;
  --sidebar-dropdown-background: #1e1e1e;
  --settings-background: #332323;
  --accent-color: rgb(225, 255, 0);
  --accent-color-secondary: rgb(225, 0, 116);
  color: #fff;
}

body.theme-belgium {
  --text-color: rgb(255, 255, 255);
  --brand-name: rgb(37, 37, 37);
  --header-background: rgb(204, 201, 22);
  --sidebar-background: #2e2e29;
  --sidebar-dropdown-background: #9c4b4b;
  --settings-background: #5c1c1c;
  --accent-color: #b41a1a;
  --accent-color-secondary: rgb(225, 0, 116);
}

body.theme-christmas {
  --text-color: rgb(255, 255, 255);
  --brand-name: rgb(226, 233, 238);
  --header-background: rgb(46, 95, 41);
  --sidebar-background: #832323;
  --sidebar-dropdown-background: #8f2929;
  --settings-background: #332323;
  --accent-color: rgb(0, 174, 255);
  --accent-color-secondary: rgb(225, 0, 116);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  position: sticky;
  top: 0;
  background-color: var(--header-background);
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.4);
  padding: 0 0.5rem;
  height: var(--header-height);
  z-index: 100;
}

.brand-name-top {
  color: var(--brand-name);
  font-size: 1.5rem;
  font-weight: bold;
}

.brand-name-top:hover {
  background: var(--brand-name-hover);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: default;
}

.brand-name {
  color: var(--lightest-gray);
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.15rem;
  margin-top: 0.5rem;
}
.wrapper {
  display: flex;
  background-color: var(--wrapper-background);
}
.content {
  margin: 1rem;
  overflow-y: auto;
}

.sidebar {
  flex-shrink: 0;
  overflow: hidden;
  width: var(--sidebar-width);
  border-right: 1px solid var(--light-gray);
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--header-height));
  padding-top: 1rem;
  align-items: center;
  justify-content: stretch;
  transition: width var(--animation-duration) var(--animation-timing-curve);
  position: sticky;
  left: 0;
  top: var(--header-height);
  background-color: var(--sidebar-background);
  z-index: 0;
  overflow: visible;
}

.sidebar.open {
  width: var(--sidebar-width-open);
}

.sidebar .top-sidebar {
  height: 30px;
  transition: height var(--animation-duration) var(--animation-timing-curve);
}

.sidebar.open .top-sidebar {
  height: 9rem;
}

.sidebar .hidden-sidebar {
  display: none;
  /* opacity: 0;
  width: 0; */
  transition: opacity var(--animation-duration) var(--animation-timing-curve);
}

.sidebar.open .hidden-sidebar {
  display: flex;
  /* height: auto;
  opacity: 1; */
  align-items: center;
}

.sidebar .top-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar .brand-logo-svg {
  display: block;
  width: 2.2rem;
  height: 2.2rem;
  fill: var(--accent-color);
  transition: var(--animation-duration) var(--animation-timing-curve);
}

.sidebar.open .brand-logo-svg {
  width: var(--brand-icon);
  height: var(--brand-icon);
}

.middle-sidebar {
  overflow-y: auto;
  overflow-x: hidden;
  flex-grow: 1;
  margin: 1rem 0;
}

.middle-sidebar,
.bottom-sidebar {
  width: 100%;
}

.sidebar-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
  white-space: nowrap;
}

.sidebar.open .sidebar-link {
  justify-content: flex-start;
}

.sidebar.open .sidebar-dropdown-link {
  justify-content: space-between;
}

.settingsbar {
  background-color: var(--settings-background);
  position: fixed;
  padding: 1rem;
  right: -14rem;
  height: 100vh;
  width: var(--settings-width);
  transition: 0.3s linear;
  color: var(--lightest-gray);
}

.settingsbar.is-active {
  right: 0%;
}

.icon-text-arrow {
  display: flex;
  gap: 1rem;
}

.sidebar-icon {
  width: var(--sidebar-icon);
  height: var(--sidebar-icon);
  flex-shrink: 0;
}

.sidebar-list .active .sidebar-icon {
  fill: var(--sidebar-icon-color);
}

/* .sidebar-list .hidden-sidebar {
  white-space: nowrap;
} */

.sidebar-link,
.sidebar-dropdown-link {
  display: flex;
  padding: 0.5rem;
  color: #fff;
  text-decoration: none;
  gap: 1rem;
  justify-content: center;
}

.sidebar-dropdown-icon {
  padding: 0.5rem;
  cursor: pointer;
}

.sidebar-list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-list-item.active a.sidebar-link {
  background-color: var(--lightest-gray);
  color: var(--dark-gray);
}

.sidebar-dropdown-item a {
  /* margin-left: 41px; */
}

.sidebar-list-item a:hover {
  background-color: var(--lightest-gray);
  text-decoration: none;
  color: var(--dark-gray);
}

.sidebar-list-item a:hover svg {
  color: var(--accent-color-secondary);
}

.sidebar-dropdown-item {
  display: none;
  color: #fff;
  background-color: var(--sidebar-dropdown-background);
}

.sidebar-dropdown-item:hover {
  background-color: var(--lightest-gray);
  text-decoration: none;
  color: #000;
}

.dropdown-show {
  /* height: 41px;
  opacity: 1; */
  display: block;
}

.sidebar-dropdown-header {
  display: flex;
  justify-content: center;
  color: #fff;
}

.sidebar .sidebar-dropdown-header a:hover {
  background-color: var(--lightest-gray);
  color: #000;
}

.sidebar:not(.open) .sidebar-dropdown-header a:hover {
  color: rgb(255, 255, 255);
}

.sidebar-dropdown-header a {
  flex-grow: 1;
}

.sidebar-dropdown-header a:hover svg {
  color: var(--accent-color-secondary);
}

.sidebar.open .sidebar-dropdown-header {
  justify-content: space-between;
}
.sidebar:not(.open) .sidebar-dropdown-item {
  height: 0px;
  opacity: 0;
}

.menu-icon-btn {
  display: block;
  z-index: 100;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  user-select: none;
  appearance: none;
  padding-inline: 0.4rem;
}

.menu-icon-btn span:nth-child(1) {
  margin-top: 5px;
}

.menu-icon-btn span {
  background-color: var(--dark-gray);
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  z-index: 100;
  transform-origin: 0 0;
  transition: 0.4s;
  cursor: pointer;
}

.menu-icon-btn:hover span:nth-child(2) {
  transform: translate(10px);
  background-color: var(--accent-color-secondary);
}

.menu-icon-btn.is-active span:nth-child(1) {
  transform: translate(0px, -2px) rotate(45deg);
}

.menu-icon-btn.is-active span:nth-child(2) {
  transform: translateX(15px);
  opacity: 0;
}

.menu-icon-btn.is-active span:nth-child(3) {
  transform: translate(-3px, 3px) rotate(-45deg);
}

.menu-icon-btn.is-active:hover span {
  background-color: var(--accent-color-secondary);
}

.sidebar .sidebar-list li .sub-menu {
  position: absolute;
  left: 100%;
  opacity: 0;
  pointer-events: auto;
  transition: all 0.4s ease;
  background-color: var(--dark-gray);
  padding: 1rem;
  list-style-type: none;
  border-radius: 0 0.5rem 0.5rem 0;
}

.sidebar:not(.open) .sidebar-list li .sub-menu {
  pointer-events: none;
}

.sidebar .sidebar-list li .sub-menu li a {
  color: var(--lightest-gray);
  background-color: var(--dark-gray);
  text-decoration: none;
}

.sidebar .sidebar-list li .sub-menu li a:hover {
  color: var(--accent-color);
}

.sidebar:not(.open) .sidebar-list li:hover .sub-menu {
  opacity: 1;
  pointer-events: auto;
}

.sidebar .sidebar-list li .sub-menu li:nth-child(1) {
  font-weight: bold;
}

.sidebar.open .sidebar-list li .sub-menu {
  display: none;
}
