@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --accent-color: #e1ff00;
  --accent-color-secondary: #b94191;
  --animation-duration: 0s;
  --animation-timing-curve: ease-in-out;
  --brand-icon: 5rem;
  --brand-name: #1d425f;
  --brand-name-hover: linear-gradient(331deg, #3f5efb 0%, #fc466b 100%);
  --dark-gray: #0d0d0d;
  --header-background: #e8e8e8;
  --header-height: 2.5rem;
  --light-gray: #e8e8e8;
  --lightest-gray: #f4f4f4;
  --medium-gray: #606060;
  --settings-background: #2570a1;
  --settings-background-hover: #143d64;
  --settings-width: 14rem;
  --sidebar-background: #233981;
  --sidebar-background-gradient: #1b4479;
  --sidebar-background-gradient2: #072d5f;
  --sidebar-dropdown-background: #acabab;
  --sidebar-dropdown-icon-hover: #376eb6;
  --sidebar-icon: 1.8rem;
  --sidebar-icon-color: #b94191;
  --sidebar-width: 3.8rem;
  --sidebar-width-open: 15rem;
  --text-color: #0d0d0d;
  --wrapper-background: #f5f5f5;
  --footer-background: #e1ff00;
  --footer-color: #000;
}

body.theme-belgium {
  --accent-color: #b41a1a;
  --accent-color-secondary: #e10074;
  --brand-name: #fff;
  --header-background: #ccc916;
  --settings-background: #5c1c1c;
  --sidebar-background: #2e2e29;
  --sidebar-background-gradient: #838383;
  --sidebar-dropdown-background: #9c4b4b;
  --text-color: #fff;
}

body.theme-christmas {
  --accent-color: #00aeff;
  --accent-color-secondary: #e10074;
  --brand-name: #e2e9ee;
  --header-background: #2e5f29;
  --settings-background: #332323;
  --sidebar-background: #832323;
  --sidebar-background-gradient: #6b1a1a;
  --sidebar-dropdown-background: #8f2929;
  --text-color: #fff;
}

body.theme-dark {
  color: #fff;
  --accent-color: #e1ff00;
  --accent-color-secondary: #e10074;
  --header-background: #fff;
  --settings-background: #332323;
  --sidebar-background: #2e2e2e;
  --sidebar-background-gradient: #646464;
  --sidebar-dropdown-background: #1e1e1e;
  --text-color: #fff;
  --wrapper-background: #1e1e1e;
}

@keyframes color {
  0% {
    background: #33cccc;
  }
  20% {
    background: #782d9b;
  }
  40% {
    background: #3bac57;
  }
  60% {
    background: #fcca00;
  }
  80% {
    background: #d66d27;
  }
  100% {
    background: #3d33cc;
  }
}

.preload-transitions * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.topbar {
  position: sticky;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  /* gap: 1rem; */
  top: 0;
  height: var(--header-height);
  background-color: var(--header-background);
  box-shadow: 0 1px 10px 0 #00000066;
  padding: 0.3rem 0.25rem;
  z-index: 99;
}

.brand-name {
  color: var(--lightest-gray);
  font-size: 2rem;
  font-weight: bold;
  margin-top: 0.5rem;
}
.wrapper {
  display: flex;
  background-color: var(--wrapper-background);
}

.content {
  display: flex;
  flex-direction: column;
}

main {
  margin: 1rem;
  overflow-y: auto;
}

footer {
  color: var(--footer-color);
  padding: 1rem;
  background-color: var(--footer-background);
  flex-grow: 1;
  text-align: center;
}

footer a {
  color: var(--dark-gray);
}

footer a:hover {
  color: var(--accent-color-secondary);
}

footer button {
  border: none;
  background-color: transparent;
}

footer p {
  margin: 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar {
  width: var(--sidebar-width);
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--header-height));
  /* justify-content: stretch; */
  position: sticky;
  top: var(--header-height);
  background-color: var(--sidebar-background);
  z-index: 1;
  overflow: visible;
  transition: width 0.3s;
}

.sidebar.open {
  width: var(--sidebar-width-open);
}

.sidebar .top-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 1.3rem;
}

.sidebar.open .top-sidebar {
  height: 9rem;
}

.sidebar .hidden-sidebar {
  display: none;
}

.sidebar.open .hidden-sidebar {
  display: flex;
  align-items: center;
}

.sidebar .brand-logo-svg {
  width: 2.2rem;
  height: 2.2rem;
  fill: var(--accent-color);
}

.sidebar.open .brand-logo-svg {
  width: var(--brand-icon);
  height: var(--brand-icon);
}

.middle-sidebar {
  overflow-y: auto;
  overflow-x: hidden;
  flex-grow: 1;
}

/* .middle-sidebar,
.bottom-sidebar {
  flex-direction: column;
} */

.sidebar-list {
  margin: 0;
  padding: 0;
  /* display: flex; */
  /* flex-direction: column; */
  white-space: nowrap;
}

.sidebar:not(.open) .sidebar-link,
.sidebar-dropdown-link {
  justify-content: center;
}

.sidebar.open .sidebar-dropdown-link {
  justify-content: space-between;
}

.settingsbar {
  background-color: var(--settings-background);
  position: fixed;
  padding: 1rem;
  right: -14rem;
  height: 100vh;
  width: var(--settings-width);
  color: var(--lightest-gray);
  z-index: 1;
  overflow-y: auto;
  transition: right 0.3s ease-in;
}

.settingsbar.is-active {
  right: 0%;
}

.icon-text-arrow {
  display: flex;
  gap: 1rem;
}

.sidebar-icon {
  width: var(--sidebar-icon);
  height: var(--sidebar-icon);
  flex-shrink: 0;
}

.sidebar-list .is-active .sidebar-icon {
  fill: var(--sidebar-icon-color);
}

.sidebar-list-item.is-active a.sidebar-link {
  background-color: var(--lightest-gray);
  color: var(--dark-gray);
}

.sidebar-dropdown-header.is-active a.sidebar-dropdown-link {
  background-color: var(--lightest-gray);
  color: var(--dark-gray);
}

.sidebar-link,
.sidebar-dropdown-link {
  display: flex;
  padding: 0.5rem 0.75rem;
  color: #fff;
  text-decoration: none;
  gap: 1rem;
}

.sidebar-dropdown-icon {
  padding: 0.3rem 0.75rem;
}

.sidebar-dropdown-icon:hover {
  background-color: var(--sidebar-dropdown-icon-hover);
}

.sidebar-list-item {
  display: flex;
  flex-direction: column;
}

.sidebar-list-item a:hover {
  background-color: white;
  text-decoration: none;
  color: var(--dark-gray);
}

.sidebar-list-item a:hover svg {
  color: var(--accent-color-secondary);
}

.sidebar-dropdown-item {
  display: none;
  background: linear-gradient(0deg, #e1e1e1 0%, #dfdfdf 100%);
}

.sidebar-dropdown-item a {
  color: var(--dark-gray);
}

.sidebar-dropdown-item a:hover {
  background-color: var(--lightest-gray);
}

.sidebar-dropdown-item:hover {
  /* background-color: var(--lightest-gray); */
  /* text-decoration: none; */
}

.dropdown-show {
  display: block;
}

.sidebar-dropdown-header {
  display: flex;
  color: #fff;
  /* justify-content: center; */
}

.sidebar .sidebar-dropdown-header a:hover {
  background-color: var(--lightest-gray);
  color: #000;
}

/* .sidebar:not(.open) .sidebar-dropdown-header a:hover {
  color: #ffffff;
} */

.sidebar-dropdown-header a {
  flex-grow: 1;
}

.sidebar-dropdown-header a:hover svg {
  color: var(--accent-color-secondary);
}

.sidebar.open .sidebar-dropdown-header {
  justify-content: space-between;
}
.sidebar:not(.open) .sidebar-dropdown-item {
  height: 0px;
  opacity: 0;
}

.menu-icon-btn {
  display: block;
  z-index: 100;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  user-select: none;
  appearance: none;
  padding-inline: 0.4rem;
}

.menu-icon-btn span:nth-child(1) {
  margin-top: 5px;
}

.menu-icon-btn span {
  background-color: var(--dark-gray);
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  z-index: 100;
  transform-origin: 0 0;
  transition: 0.4s;
  cursor: pointer;
}

.menu-icon-btn:hover span:nth-child(2) {
  transform: translate(10px);
  background-color: var(--accent-color-secondary);
}

.menu-icon-btn.is-active span:nth-child(1) {
  transform: translate(0px, -2px) rotate(45deg);
}

.menu-icon-btn.is-active span:nth-child(2) {
  transform: translateX(15px);
  opacity: 0;
}

.menu-icon-btn.is-active span:nth-child(3) {
  transform: translate(-3px, 3px) rotate(-45deg);
}

.menu-icon-btn.is-active:hover span {
  background-color: var(--accent-color-secondary);
}

.sidebar .sidebar-list li .sub-menu {
  position: absolute;
  left: 100%;
  opacity: 0;
  pointer-events: auto;
  transition: all 0.4s ease;
  background-color: var(--dark-gray);
  padding: 1rem;
  list-style-type: none;
  border-radius: 0 0.5rem 0.5rem 0;
}

.sidebar:not(.open) .sidebar-list li .sub-menu {
  pointer-events: none;
  transition: none;
}

.sidebar .sidebar-list li .sub-menu li a {
  color: var(--lightest-gray);
  background-color: var(--dark-gray);
  text-decoration: none;
}

.sidebar .sidebar-list li .sub-menu li a:hover {
  color: var(--accent-color);
}

.sidebar:not(.open) .sidebar-list li:hover .sub-menu {
  opacity: 1;
  pointer-events: auto;
}

.sidebar .sidebar-list li .sub-menu li:nth-child(1) {
  font-weight: bold;
}

.sidebar.open .sidebar-list li .sub-menu {
  display: none;
}

.profile-picture {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  object-fit: cover;
  /* border: 2px solid #fff; */
}

.profile-settings-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--settings-background);
  color: var(--lightest-gray);
  gap: 0.5rem;
  padding-inline: 0.5rem;
  border: 0;
  border-radius: 0.25rem;
}

.profile-settings-btn:hover {
  background-color: var(--settings-background-hover);
  color: var(--lightest-gray);
}

.sidebar:not(.open) .sidebar-list li:hover a.sidebar-link {
  background-color: white;
  color: var(--accent-color-secondary);
}

.sidebar:not(.open) .sidebar-list li:hover a.sidebar-dropdown-link {
  background-color: white;
  color: var(--accent-color-secondary);
}

.disco {
  background: #33cccc;
  animation: color 9s infinite alternate-reverse;
}

.disco-2 {
  background: #33cccc;
  animation: color 4s infinite alternate;
}
