@import "https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css";
@import "https://fonts.googleapis.com/css2?family=Ubuntu&display=swap";
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --accent-color: #e1ff00;
  --accent-color-secondary: #b94191;
  --animation-duration: 0s;
  --animation-timing-curve: ease-in-out;
  --brand-icon: 4.5rem;
  --dark-gray: #0d0d0d;
  --footer-background: #afff19;
  --footer-color: #000;
  --header-background: #33a05d;
  --header-background-gradient: #33a05d;
  --header-color: #fff;
  --light-gray: #e8e8e8;
  --lightest-gray: #f4f4f4;
  --medium-gray: #606060;
  --settings-background: #634077;
  --settings-background-hover: #493b52;
  --settings-width: 14rem;
  --sidebar-background: #233981;
  --sidebar-background-gradient: #1b4479;
  --sidebar-background-gradient2: #072d5f;
  --sidebar-dropdown-background: #acabab;
  --sidebar-dropdown-icon-hover: #376eb6;
  --sidebar-icon: 1.8rem;
  --sidebar-icon-color: #b94191;
  --sidebar-top-background: #233981;
  --sidebar-top-color: #fff;
  --sidebar-width: 3rem;
  --sidebar-width-open: 15rem;
  --topbar-background: #e8e8e8;
  --topbar-height: 2.5rem;
  --wrapper-background: #f5f5f5;
  --selection-background-color: #e1ff00;
  --selection-color: #000;
}
:root:has(.settingsbar #theme-belgium:checked) {
  --accent-color: #b41a1a;
  --accent-color-secondary: #e10074;
  --footer-background: #e1ff00;
  --footer-color: #000;
  --header-background: #a03333;
  --header-background-gradient: #610d11;
  --header-color: #fff;
  --settings-background: #851616;
  --sidebar-background: #2e2e29;
  --sidebar-background-gradient: #838383;
  --sidebar-dropdown-background: #9c4b4b;
  --sidebar-top-background: #2e2e29;
  --sidebar-top-color: #fff;
  --topbar-background: #ccc916;
}
:root:has(.settingsbar #theme-christmas:checked) {
  --accent-color: #00aeff;
  --accent-color-secondary: #e10074;
  --footer-background: #e1ff00;
  --footer-color: #000;
  --header-background: #e4b61e;
  --header-background-gradient: #b9ad00;
  --header-color: #fff;
  --settings-background: #332323;
  --sidebar-background: #832323;
  --sidebar-background-gradient: #6b1a1a;
  --sidebar-dropdown-background: #8f2929;
  --sidebar-top-background: #832323;
  --sidebar-top-color: #fff;
  --topbar-background: #2e5f29;
}
:root:has(.settingsbar #theme-dark:checked) {
  --accent-color: #e1ff00;
  --accent-color-secondary: #e10074;
  --footer-background: #e1ff00;
  --footer-color: #000;
  --header-background: #2e2e2e;
  --header-background-gradient: #000;
  --header-color: #fff;
  --settings-background: #332323;
  --sidebar-background: #2e2e2e;
  --sidebar-background-gradient: #;
  --sidebar-dropdown-background: #1e1e1e;
  --sidebar-top-background: #2e2e2e;
  --sidebar-top-color: #fff;
  --text-color: #fff !important;
  --topbar-background: #fff;
  --wrapper-background: #1e1e1e;
}
body {
  color: var(--text-color, currentColor);
  font-family: "Ubuntu", sans-serif;
}
::-moz-selection {
  color: var(--selection-color);
  background: var(--selection-background-color);
}

::selection {
  color: var(--selection-color);
  background: var(--selection-background-color);
}
@keyframes color {
  0% {
    background: #3cc;
  }

  20% {
    background: #782d9b;
  }

  40% {
    background: #3bac57;
  }

  60% {
    background: #fcca00;
  }

  80% {
    background: #d66d27;
  }

  100% {
    background: #3d33cc;
  }
}
@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }

  to {
    -webkit-mask-position: -50%;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
.preload-transitions * {
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  -webkit-transition: none !important;
  transition: none !important;
}
.topbar {
  background-color: var(--topbar-background);
  box-shadow: 0 1px 10px 0 #00000066;
  display: flex;
  height: var(--topbar-height);
  justify-content: space-between;
  padding: 0.3rem 0.25rem;
  position: sticky;
  top: 0;
  z-index: 99;
}
.brand-name {
  color: var(--sidebar-top-color);
  font-size: 2rem;
  font-weight: 700;
  margin-top: 0.5rem;
}
.brand-name:hover {
  -webkit-mask-image: linear-gradient(
    -75deg,
    rgba(0, 0, 0, 0.6) 30%,
    #000 50%,
    rgba(0, 0, 0, 0.6) 70%
  );
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
  cursor: default;
}
.wrapper {
  background-color: var(--wrapper-background);
  display: flex;
}
.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
header.header {
  background: linear-gradient(
    317deg,
    var(--header-background-gradient) 0%,
    var(--header-background) 100%
  );
  background-color: var(--header-background);
  color: var(--header-color);
  padding: 2rem;
}
main {
  margin: 1rem;
}
footer {
  background-color: var(--footer-background);
  color: var(--footer-color);
  flex-grow: 1;
  padding: 1rem;
  text-align: center;
}
footer button {
  background-color: transparent;
  border: none;
}
.footer-content {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.menu-icon-btn {
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  padding-inline: 0.25rem;
  user-select: none;
  z-index: 100;
}
.menu-icon-btn span {
  background-color: var(--dark-gray);
  display: block;
  height: 4px;
  transform-origin: 0 0;
  transition: 0.4s;
  width: 33px;
}
.menu-icon-btn:hover span:nth-child(2) {
  background-color: var(--accent-color-secondary);
  transform: translate(10px);
}
.menu-icon-btn.is-active span:nth-child(1) {
  transform: translate(0px, -2px) rotate(45deg);
}
.menu-icon-btn.is-active span:nth-child(2) {
  opacity: 0;
  transform: translateX(15px);
}
.menu-icon-btn.is-active span:nth-child(3) {
  transform: translate(-3px, 3px) rotate(-45deg);
}
.menu-icon-btn.is-active:hover span {
  background-color: var(--accent-color-secondary);
}
.sidebar {
  background-color: var(--sidebar-background);
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--topbar-height));
  overflow: visible;
  position: sticky;
  top: var(--topbar-height);
  transition: width 0.5s;
  width: var(--sidebar-width);
  z-index: 1;
}
.sidebar.open {
  width: var(--sidebar-width-open);
}
.sidebar.open .item-dropdown-closed-menu {
  pointer-events: none;
}
.sidebar .top-sidebar {
  align-items: center;
  background-color: var(--sidebar-top-background);
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.sidebar.open .brand-name {
  align-items: center;
  display: flex;
}
.sidebar .brand-logo-svg {
  fill: var(--accent-color);
  height: 2.2rem;
  width: 2.2rem;
}
.sidebar.open .brand-logo-svg {
  height: var(--brand-icon);
  width: var(--brand-icon);
}
.middle-sidebar {
  flex-grow: 1;
  overflow-x: hidden;
}
.sidebar-list {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
.settingsbar {
  background-color: var(--settings-background);
  color: var(--lightest-gray);
  height: 100vh;
  overflow-y: auto;
  padding: 1rem;
  position: fixed;
  right: -14rem;
  transition: right 0.5s ease-in-out;
  width: var(--settings-width);
  z-index: 1;
}
.settingsbar.is-active {
  right: 0;
}
.item-icon {
  flex-shrink: 0;
  height: var(--sidebar-icon);
  width: var(--sidebar-icon);
}
.sidebar-list-item {
  display: flex;
  flex-direction: column;
}
.profile-picture {
  border-radius: 50%;
  height: 20px;
  object-fit: cover;
  width: 20px;
}
.profile-settings-btn {
  align-items: center;
  background-color: var(--settings-background);
  border: 0;
  border-radius: 0.25rem;
  color: var(--lightest-gray);
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  padding-inline: 0.5rem;
}
.profile-settings-btn:hover {
  background-color: var(--settings-background-hover);
  color: var(--lightest-gray);
}
.disco {
  animation: color 9s infinite alternate-reverse;
  background: #3cc;
}
.disco-2 {
  animation: color 4s infinite alternate;
  background: #33cc47;
}
footer a,
footer button,
.sidebar-dropdown-item a {
  color: var(--footer-color);
}
footer a:hover {
  color: var(--accent-color-secondary);
}
.menu-icon-btn span:nth-child(1),
.menu-icon-btn span:nth-child(2) {
  margin-bottom: 5px;
}
.sidebar.open .sidebar-dropdown-link {
  justify-content: space-between;
}
.sidebar:not(.open) .sidebar-list li:hover a.sidebar-link,
.sidebar:not(.open) .sidebar-list li:hover a.sidebar-dropdown-link {
  background-color: #fff;
  color: var(--accent-color-secondary);
}
.sidebar:not(.open) .item,
.sidebar .item .icon-link-label {
  display: flex;
}
.sidebar .item {
  transition: 0.4s all;
}
.sidebar .item a {
  align-items: center;
  color: var(--lightest-gray);
  display: flex;
  gap: 1rem;
  text-decoration: none;
}
.sidebar .item a svg {
  fill: #fff;
}
.sidebar .item a.item-link {
  padding: 0.5rem 0.75rem;
}
.sidebar.open .item a.item-link {
  flex-grow: 1;
}
.sidebar .item label {
  display: flex;
  align-items: center;
  color: var(--lightest-gray);
  padding: 0.5rem 0.75rem;
}
.sidebar .item label:hover {
  background-color: #bdbdbd;
}
.sidebar .item ul.item-dropdown-menu {
  -ms-user-select: none;
  -webkit-user-select: none;
  background-color: #bdbdbd;
  display: none;
  padding: 0;
  user-select: none;
  width: 100%;
}
.sidebar .item ul.item-dropdown-menu li {
  list-style-type: none;
}
.sidebar .item ul.item-dropdown-menu li:hover {
  background-color: var(--light-gray);
}
.sidebar .item ul.item-dropdown-menu li a {
  color: #000;
  padding: 0.25rem 1rem;
}
input[type="checkbox"]:checked ~ .item-dropdown-menu {
  display: block;
}
.sidebar .brand-name,
.sidebar:not(.open) .sidebar-dropdown-item,
.sidebar:not(.open) .sidebar-list li label,
.sidebar:not(.open) .sidebar-list li a .item-title,
.sidebar:not(.open) .sidebar-list li .item-dropdown-check,
.sidebar:not(.open) .sidebar-list li .item-dropdown-menu,
.sidebar .item input[type="checkbox"] {
  display: none;
}
.sidebar .sidebar-list li .item-dropdown-closed-menu {
  background-color: var(--dark-gray);
  border-radius: 0 0.5rem 0.5rem 0;
  left: 100%;
  list-style-type: none;
  opacity: 0;
  padding: 1rem;
  position: absolute;
  transition: all 0.4s ease;
}
.sidebar:not(.open) .sidebar-list li .item-dropdown-closed-menu {
  pointer-events: none;
  transition: none;
}
.sidebar:not(.open) .sidebar-list li:hover .item-dropdown-closed-menu {
  opacity: 1;
  pointer-events: auto;
}
.sidebar .sidebar-list li .item-dropdown-closed-menu li a {
  background-color: var(--dark-gray);
  color: var(--lightest-gray);
  text-decoration: none;
}
.sidebar .sidebar-list li .item-dropdown-closed-menu li a:hover {
  color: var(--accent-color);
}
.sidebar .sidebar-list li .item-dropdown-closed-menu li:nth-child(1) {
  font-weight: 700;
}
.sidebar:not(.open) .sidebar-link,
.sidebar-dropdown-link,
.sidebar:not(.open) .item {
  justify-content: center;
}
.sidebar .item:hover,
.sidebar .item.is-active {
  background-color: var(--lightest-gray);
}
.sidebar .item:hover a,
.sidebar .item:hover label,
.sidebar .item.is-active a,
.sidebar .item.is-active label {
  color: var(--dark-gray);
}
.sidebar .item:hover svg,
.sidebar .item.is-active svg {
  fill: var(--accent-color-secondary);
}
